:80 {
    root * /var/www/html

    @internal {
        path_regexp ^/(?:\..*|artisan$|bootstrap(?:/|$)|Caddyfile$|composer\.(?:json|lock)$|compose\.ya?ml$|config(?:/|$)|docker(?:/|$)|Dockerfile$|extends(?:/|$)|node_modules(?:/|$)|package(?:-lock)?\.json$|packages(?:/|$)|README\.md$|routes(?:/|$)|storage(?:/|$)|tsconfig\.json$|vendor(?:/|$)|vite\.config\.(?:js|ts)$)
    }

    route {
        respond @internal 404
        php_fastcgi app:9000
        file_server
    }
}
